$black: #000;
$white: #fff;

$themeBlue: #5c7bff;
$themeGreen: #1cd167;
$themeRed: #ed1c24;
$themeSaffron: #ff895c;
$boldGreen: #218a37;

$backColor1: #797ff4;
$backColor2: #f47979;
$backColor3: #e0e0e0;
$backColor4: #eff2ff;
$backColor5: #26c6da;
$backColor6: #f2f5ff;
$backColor7: #ffbf41;
$backColor8: #f2f2f2;
$backColor9: #ff4400;
$backColor10: #6e6b6b;
$backColor11: #ffd47e;
$backColor12: #ffe2e2;
$backColor13: #eff2ff;

$textColor1: #4c4c78;
$textColor2: #1f0044;
$textColor3: #200045;
$textColor4: #ffe383;
$textColor5: #1c1c1c;
$textColor6: #707070;
$textColor7: #ffe793;
$textColor8: #1542ff;
$textColor9: #f87c00;
$textColor10: #53cb09;
$textColor11: #af009e;
$textColor12: #f47979;
$textColor13: #5d5d5d;
$textColor14: #eff2ff;
$textColor15: #4b4bc3;
$textColor15: #1b0541;
$textColor16: #565656;

$borderColor1: #e3e3e3;
$borderColor2: #fca700;
$borderColor3: #e1e1e1;
//$inputBorder: rgba(24, 42, 82, 0.39);
$inputBorder: rgba(24, 42, 82, 0.39);
$inputFocusBorder: rgba(24, 42, 82, 0.39);
$inputLable: #707070;
$inputText: #1f0044;

$circleBack: #394a6e;
