@import './shared/responsive.scss';

.tableCreator {
  overflow: auto;
  max-height: 500px;
  table,
  th,
  td {
    border: none;
    text-align: center;
  }
  th,
  td {
    padding: 10px;
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    tbody {
      .row {
        font-size: 13px;
        line-height: 1.2;
        padding: 15px 10px;
        border-radius: 8px;
        box-shadow: 2px 1px 6px 0 rgba(36, 104, 255, 0.16);
        .td {
          padding: 15px 5px;
          &.challenge {
            color: $textColor9;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
  }
}
